{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 170,
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "jsxBracketSameLine": true,
  "semi": true
}